<% if session[:signed_in_viking_id] %>
	<h2>All Other Vikings</h2>
<% else %>
	<h2>All Vikings</h2>
<% end %>

<% vikingsfixed = @vikings.select {|viking| viking.id != session[:signed_in_viking_id]} %>



<% vikingsfixed.each do |viking| %>
	<li>
		<%= link_to viking.name, viking %>
	</li>
	<br>
	<% end %>
</ul>
