<% if session[:signed_in_viking_id] %>
	<h2>All Other Vikings</h2>
<% else %>
	<h2>All Vikings</h2>
<% end %>

<% vikingsfixed = @vikings.select {|viking| viking.id != session[:signed_in_viking_id]} %>

<ul class="list-group list-group-flush">
<% vikingsfixed.each do |viking| %>
	<li class="list-group-item">
		<%= link_to viking.name, viking %>
	</li>
	<% end %>
</ul>
